<!DOCTYPE HTML>
<html>
	<head>
		<title>스낵파인더</title>
		<link href="http://localhost:8880/stylesheets/style.css" rel="stylesheet" type="text/css" />
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="http://localhost:8880/images/fav-icon.png" />
		<!----webfonts---->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
		<!----//webfonts---->
		<!-- Global CSS for the page and tiles -->
  		<link rel="stylesheet" href="http://localhost:8880/stylesheets/main.css">
  		<!-- //Global CSS for the page and tiles -->
		<!---start-click-drop-down-menu----->
		<script src="http://localhost:8880/javascripts/jquery.min.js"></script>
		<!-----mobile-menu----->
		<link type="text/css" rel="stylesheet" href="http://localhost:8880/stylesheets/jquery.mmenu.all.css" />
		<script type="text/javascript" src="http://localhost:8880/javascripts/jquery.mmenu.js"></script>
	</head>
	<body>
		<!---start-wrap---->
			<!---start-header---->

						<div class="back">
						<a href="http://localhost:8880/page_spa.html"><img src="http://localhost:8880/images/reply.png" alt="" /></a>
						</div>


          <form method="post" action="#" class="form1">
             <div class="contact-form">
               <div class="contact-to">
                     <input type="text" class="text" value="Name..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name...';}"><br>
                 <input type="text" class="text" value="Email..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email...';}"><br>
                 <input type="text" class="text" value="Subject..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject...';}">
               </div>
               <div class="text2">
                  <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">스낵파인더에 하고싶은말...</textarea>
               </div>
                   <span><input type="submit" class="" value="Submit"></span>
                   <div class="clear"></div>
             </div>
            </form>

      <!----start-footer--->
      <div class="footer">
        <p>balkineun-aedeul</p>
      </div>
      <!----//End-footer--->
      <!---//End-wrap---->
    </body>
  </html>
