<!DOCTYPE HTML>
<html>
	<head>
		<title>스낵파인더</title>
		<link href="http://localhost:8880/stylesheets/style.css" rel="stylesheet" type="text/css" />
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="http://localhost:8880/images/fav-icon.png" />
		<!----webfonts---->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
		<!----//webfonts---->
		<!-- Global CSS for the page and tiles -->
  		<link rel="stylesheet" href="http://localhost:8880/stylesheets/main.css">
  		<!-- //Global CSS for the page and tiles -->
		<!---start-click-drop-down-menu----->
		<script src="http://localhost:8880/javascripts/jquery.min.js"></script>
		<!-----mobile-menu----->
		<link type="text/css" rel="stylesheet" href="http://localhost:8880/stylesheets/jquery.mmenu.all.css" />
		<script type="text/javascript" src="http://localhost:8880/javascripts/jquery.mmenu.js"></script>


	</head>
	<body>
		<!---start-wrap---->
			<!---start-header---->
			<div id="page">
					<div id="header">

						<div class="logo">
						<a href="http://localhost:8880/index.html"><img src="http://localhost:8880/images/spa.png" alt="" /></a>
						</div>

						 <div class="back">
							<a href="http://localhost:8880/index.html" ><img src="http://localhost:8880/images/reply.png" alt="" /><span></span></a>
                        </div>


												<div class="search-form">
												<form ><input type="text" value="과자명을 입력하세요..."></form>
												</div>

												<div class="search-bar">
												<a href="http://localhost:8880/page_search.html"><span></span></a>
												</div>

						<div class="clear"> </div>
					</div>

				</div>


		<!---start-wrap---->
			<!---start-header---->
				<div class="content">
						<div class="wrap">
								<div class="contact-info">
          <form method="post" action="#" class="form2">
             <div class="contact-form2">
               <div class="contact-to">
								<input type="image" src="http://localhost:8880/images/pic10.jpg" alt=""/><br>
                <input type="text" class="text" value="유주봉" ><br>
                <input type="text" class="text" value="나이" ><br>
                </div>
               <div class="text2">
                  <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">반가워요 여러분~</textarea>
               </div>
                   <span><input type="submit" class="" value="회원정보수정"></span>
                   <div class="clear"></div>
             </div>
            </form>
					</div>
				</div>
				</div>

		<!---//End-content---->
		<!----wookmark-scripts---->
		  <script src="http://localhost:8880/javascripts/jquery.imagesloaded.js"></script>
		  <script src="http://localhost:8880/javascripts/jquery.wookmark.js"></script>
		<!----//wookmark-scripts---->
		<!----start-footer--->
		<div class="footer">
			<p>balkineun-aedeul</p>
		</div>
		<!----//End-footer--->
		<!---//End-wrap---->
	</body>
</html>
