<!DOCTYPE HTML>
<html>
	<head>
		<title>스낵파인더</title>
		<link href="http://localhost:8880/stylesheets/style.css" rel="stylesheet" type="text/css" />
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="http://localhost:8880/images/fav-icon.png" />
		<!----webfonts---->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
		<!----//webfonts---->
		<!-- Global CSS for the page and tiles -->
  		<link rel="stylesheet" href="http://localhost:8880/stylesheets/main.css">
  		<!-- //Global CSS for the page and tiles -->
		<!---start-click-drop-down-menu----->
		<script src="http://localhost:8880/javascripts/jquery.min.js"></script>
		<!-----mobile-menu----->
		<link type="text/css" rel="stylesheet" href="http://localhost:8880/stylesheets/jquery.mmenu.all.css" />
		<script type="text/javascript" src="http://localhost:8880/javascripts/jquery.mmenu.js"></script>


	</head>
	<body>
		<!---start-wrap---->
			<!---start-header---->
			<div id="page">
					<div id="header">
						<a class="navicon" href="#menu-left"> </a>
						<div class="logo">
						<a href="http://localhost:8880/index.html"><img src="http://localhost:8880/images/spa.png" alt="" /></a>
						</div>
					 	<div class="my">
							<a href="http://localhost:8880/page_my.html" ><span></span></a>
                        </div>

												<div class="search-form">
												<form ><input type="text" value="과자명을 입력하세요..."></form>
												</div>

												<div class="search-bar">
												<a href="http://localhost:8880/page_search.html"><span></span></a>
												</div>

						<div class="clear"> </div>
					</div>
					<nav id="menu-left">
						<ul>
							<li><a href="http://localhost:8880/index.html"><span>홈</span></a></li>
							<li><a href="http://localhost:8880/page_dic.html"><span>성분사전</span></a></li>
							<li><a href="http://localhost:8880/page_spa.html"><span>스파</span></a></li>
							<div class="clear"> </div>
						</ul>
					</nav>
				</div>
		<!---//End-header---->
		<!---start-content---->
		<div class="content">
		<div class="wrap">
				<div class="contact-info">
					 <div class="contact-grids">
							 <div class="col_1_of_bottom span_1_of_first1">
								 		<h5>스낵파인더는 소비자의 현명한 과자류 소비를 돕기위한 어플리케이션입니다.</h5>
										<br><br>
								    <h5>Address</h5>
								    <ul class="list3">
										<li>
											<img src="http://localhost:8880/images/home.png" alt="">
											<div class="extra-wrap">
											 <p>서울특별시 동작구 상도동<br>스낵파인더 주식회사</p>
											</div>
										</li>
									</ul>
							    </div>
								<div class="col_1_of_bottom span_1_of_first1">
								    <h5>Phones</h5>
									<ul class="list3">
										<li>
											   <img src="http://localhost:8880/images/phone.png" alt="">
											<div class="extra-wrap">
												<p><span>Telephone:</span>010-1234-5678</p>
											</div>

										</li>
									</ul>
								</div>
								<div class="col_1_of_bottom span_1_of_first1">
									 <h5>Email</h5>
								    <ul class="list3">
										<li>
											<img src="http://localhost:8880/images/email.png" alt="">
											<div class="extra-wrap">
											  <p><span class="mail"><a href="mailto:yoursite.com">info(at)pinball.com</a></span></p>
											</div>
										</li>
									</ul>
							    </div>
								<div class="clear"></div>
							 </div>
                             <!------버튼모음 생성----->
                  <div class= "buttonhouse">
									<div><button type="button" class="button" value="버튼5" ><a href="#" ><span>공지사항</span></a></button></div>
									<div><button type="button" class="button" value="버튼5" ><a href="#" ><span>버전정보</span></a></button></div>
									<div><button type="button" class="button" value="버튼5" ><a href="#" ><span>자주하는 질문</span></a></button></div>
									<div><button type="button" class="button" value="버튼5" ><a href="#" ><span>이용약관</span></a></button></div>
									<div><button type="button" class="button" value="버튼5" ><a href="http://localhost:8880/mail-page.html" ><span>문의하기</span></a></button></div>
									</div>
                              <!------버튼모음 끝----->

								</div>
			</div>
		</div>
		<!----start-footer--->
		<div class="footer">
			<p>balkineun-aedeul</p>
		</div>
		<!----//End-footer--->
		<!---//End-wrap---->
	</body>
</html>
