<!DOCTYPE HTML>
<html>
	<head>
		<title>스낵파인더</title>
		<link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet" type="text/css" />
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="url_for('static',filename='images/fav-icon.png')" />
		<!----webfonts---->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
		<!-- Global CSS for the page and tiles -->
  		<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">


	</head>
	<body>
		<!---start-wrap---->
			<!---start-header---->
			<div id="page">
				<div id="header">
					<a class="navicon" href="#menu-left"> </a>
					<div class="logo">
					<a href="{{url_for('show_entries')}}"><img src="{{url_for('static',filename='images/spa.png')}}" alt="" /></a>
					</div>
					<div class="my">
					<a href="{{url_for('show_entries')}}" ><span></span></a>
                    					</div>

						<div class="search-form">
						<form ><input type="text" value="과자명을 입력하세요..."></form>
						</div>

						<div class="search-bar">
						<a href="{{url_for('show_entries')}}"><span></span></a>
						</div>

					<div class="clear"> </div>
				</div>
				<nav id="menu-left">
					<ul>
						<li><a href="{{url_for('show_entries')}}"><span>홈</span></a></li>
						<li><a href="{{url_for('show_entries')}}"><span>성분사전</span></a></li>
						<li><a href="{{url_for('show_entries')}}"><span>스파</span></a></li>
						<div class="clear"> </div>
					</ul>
				</nav>
			</div>
		<!---//End-header---->
		<!---start-content---->
		aaa
		<div class="content">
			<div class="wrap">
			<div class="single-page">
				<div class="single-page-artical">
					<div class="artical-content">
						<img src="{{url_for('static',filename='images/single-post-pic.jpg')}}" title="banner1">
						<h3><a href="{{url_for('static',filename='images/single-post-pic.jpg')}}">Snack Name : {{snack["snack_name"]}}</a></h3>
						<p>manufacturer : {{snack["manufacturer"]}}</p><br>
						<p></p>
						<p>
							<ul>
								{% for i in snack["ingredient"] %}
									<li><a href="{{url_for('detail_page2',snack_name=snack["snack_name"],palm=i["ing_name"])}}">{{i["ing_name"]}}</a></li>
								{% endfor %}
							</ul>
						</p>
					
						<p>name : 
							<ul>
								{% for i,j in palm%}
								<li>{{i}}:{{j}}</li>
								{% endfor%}
							</ul>
						</p>

						 <div class="clear"> </div>
				</div>
							<!---start-comments-section--->
							

							<!-- <div class="comment-section">
											<div class="grids_of_2">
												<h2>Comments</h2>
												<div class="grid1_of_2">
													<div class="grid_img">
							<a href=""><img src="http://localhost/images/pic10.jpg" alt=""></a>
													</div>
													<div class="grid_text">
							<h4 class="style1 list"><a href="#">유주봉</a></h4>
							<h3 class="style">march 2, 2013 - 12.50 AM</h3>
							<p class="para top">졸려</p>
													</div>
													<div class="clear"></div>
												</div>
							
												<div class="grid1_of_2">
													<div class="grid_img">
							<a href=""><img src="http://localhost/images/pic12.jpg" alt=""></a>
													</div>
													<div class="grid_text">
							<h4 class="style1 list"><a href="#">후걍이</a></h4>
							<h3 class="style">march 2, 2013 - 12.50 AM</h3>
							<p class="para top"> 머랭</p>
													<div class="clear"></div>
												</div>
							
												</div>
										</div> -->


							<!---//End-comments-section--->
						</div>
						 </div>
		</div>
		<!----start-footer--->
		<div class="footer">
			<p></p>
		</div>
		<!----//End-footer--->
		<!---//End-wrap---->
        </div>
        </div>
	</body>
</html>
